.block {
    max-width: 490px;
    width: 100%;
}
.container {
    max-width: 1153px;
    width: 90%;
    margin: 0 auto;
    background-color: lightblue;
}
.text-block {
    max-width: 994px;
    width: 90%;
    margin:0 auto;
    text-align: center;
    background-color: yellow;
}
.container-blocks {
    display: flex;

}
.box {
    border: 2px solid #000;
}


/* form styles */
.form-element {
    display: flex;
    flex-direction: column;
}
.input-element {
    width: 100%;
    height: 60px;
    margin: 25px 0;
    color: red;
}
.input-element[type="password"] {
    border: none;
    border-bottom: 2px solid #000;
}
.input-element:focus,
.textarea-element:focus {
    outline:none;
}
.input-element::placeholder {
    color: blue;
    font-size: 14px;
}
.form-wraper {
    max-width:600px;
    width: 100%;
    padding: 60px 0;
}
.btn-submit {
    width: 300px;
    height: 60px;
    border-radius: 30px;
    background-color: orange;
    border:none;
}
.textarea-element {
    width: 100%;
    height: 250px;
    margin: 20px 0;
    resize: none;
}


/* responsive */
@media (min-width: 320px) and (max-width: 375px) {
    .container-blocks  {
        flex-direction: column;
    }
}
@media (min-width: 375px) and (max-width: 1024px) {
    .container-blocks {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .box {
        width: 45%;
    }
}
@media (min-width: 1024px) {
    .container-blocks {
        flex-wrap: wrap;
        gap: 80px 50px;
    }
    .box {
        width: 300px;
      
    } 
}


